.wrapper {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 170px;
    padding-top: 40px;
    background-color: $first-background-color;
    @media(max-width: 640px) {
      padding-top: 10px;
      display: block;
    }
    .main-title, .main-subtitle {
      width: 100%;
      text-align: center;
      font-family: $first-font-family;
      color: $first-font-color;
      font-weight: 300;
      letter-spacing: 1.6px;
    }
    .main-title {
      text-transform: uppercase;
      @media(max-width: 640px) {
        font-size: 22px;
        padding: 40px 10px 20px;
      }
    }
    .main-subtitle {
      @media(max-width: 640px) {
        font-size: 12px;
      }
      &__link {
        text-decoration: none;
        border: none;
        font-size: 15px;
        border-bottom: 1px solid transparent;
        transition: .4s;
        &:hover {
          border-bottom: 1px solid $first-font-color;
        }
      }
    }
  }
  .search__form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $first-font-family;
    background-color: $first-background-color;
    width: 100%;
    padding-bottom: 30px;
    .search__input {
      width: 250px;
      border: 1px solid #ddd;
      border-radius: 6px;
      padding: 8px 10px;
      color: $first-font-color;
      font-size: 11px;
      letter-spacing: 1.4px;
      font-weight: 300;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: $first-font-family;
        color: $first-font-color;
      }
    }
  }
  .coins-panel {
    margin-top: 40px;
    margin-bottom: 50px;
    @media(max-width: 640px) {
      margin-top: 0;
    }
    .error-info {
      width: 100%;
      text-align: center;
      font-family: $first-font-family;
      text-transform: uppercase;
      color: $first-font-color;
      letter-spacing: 1.5px;
      font-size: 13px;
      font-weight: 300;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .tb-header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      height: 40px;
      @media (max-width: 640px) {
        display: none;
      }
      &__title {
        flex-basis: 10%;
        font-family: $first-font-family;
        color: $first-font-color;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 600;
        &:nth-of-type(1) {
          text-align: right;
        }
      }
    }
  }
}